{% assign thesis = site.data.data.thesis %}
{% if thesis %}
<section class="section thesis-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ thesis.title }}
  </h2>

  {% if thesis.intro %}
  <div class="intro">
    <p>{{ thesis.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

<!--   {% for contribution in thesis.contributions %}
  <div class="item">

    <span class="project-title">
      {% if contribution.link %}
      <a href="{{ contribution.link }}" target="_blank">{{ contribution.title }}</a>
      {% else %}
      {{ contribution.title }}
      {% endif %}
    </span>

    {% if contribution.tagline %}
    - <span class="project-tagline">{{ contribution.tagline }}</span>
    {% endif %}

  </div>
  {% endfor %} -->
  <!--//item-->

  <ul>
  {% for contribution in thesis.contributions %}
    <li class="item">
      <span class="project-title">
        {% if contribution.link %}
          <a href="{{ contribution.link }}" target="_blank">{{ contribution.title }}</a>
        {% else %}
          {{ contribution.title }}
        {% endif %}
      </span>

      {% if contribution.tagline %}
        <br/>
        <span class="project-tagline">{{ contribution.tagline }}</span>
      {% endif %}
    </li>
  {% endfor %}
</ul>

</section>
<!--//section-->
{% endif %}
